<div class="nav">
  <ul class="interval-list">
    <li><a (click)="setPeriod('day')">Day</a></li>
    <li><a (click)="setPeriod('week')">Week</a></li>
    <li><a (click)="setPeriod('month')">Month</a></li>
    <li><a (click)="setPeriod('threeMonth')">3 Month</a></li>
    <li><a (click)="setPeriod('sixMonth')">6 Month</a></li>
    <li><a (click)="setPeriod('nineMonth')">9 Month</a></li>
    <li><a (click)="setPeriod('year')">Year</a></li>
    <li><a (click)="setPeriod('custom')">Custom</a></li>
  </ul>
</div>
